{% extends 'home/home.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    Rezerwacje
{% endblock %}

{% block content %}
    {#<div style="background-image: url('../../../../static/assets/images/home.jpg')">#}
    {#    <div style="background-image: url({% static 'assets/images/home.jpg' %})">#}
    <div class="mt-5" > ASDaSDasd </div>
    <div class="mt-5" >
        <div class="row align-center">
            <div class="col-0 col-md-2">Klub</div>
            <div class="col-0 col-md-2">Kort</div>
            <div class="col-0 col-md-3">Początek</div>
            <div class="col-0 col-md-3">Koniec</div>
            <div class="col-0 col-md-2">Trener</div>
        </div>
        {% for reservation in reservations %}
            <div>
                <div>{{ reservation.club }}</div>
                <div>{{ reservation.court }}</div>
                <div>{{ reservation.start }}</div>
                <div>{{ reservation.finish }}</div>
                <div>{{ reservation.coach }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}