{% extends 'home/home.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    Rezerwacje
{% endblock %}

{% block content %}
    <div class="mt-5"></div>
    {#<div style="background-image: url('../../../../static/assets/images/home.jpg')">#}
    {#    <div style="background-image: url({% static 'assets/images/home.jpg' %})">#}
    <table class="table table-custom table-striped">
        <style>
            .table-custom {
        background-color: #e0e0e0;
    }
            table, tr, th, td {
                border: solid;
                border-collapse: collapse;
                padding: 5px;

            }
        </style>
        <tr>
            <th>Klub</th>
            <th>Kort</th>
            <th>Początek</th>
            <th>Koniec</th>
            <th>Trener</th>
        </tr>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.club }}</td>
                <td>{{ reservation.court }}</td>
                <td>{{ reservation.start }}</td>
                <td>{{ reservation.finish }}</td>
                <td>{{ reservation.coach }}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}