{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Rezerwacje
{% endblock %}

{% block container %}

    <table class="table table-light table-striped">
        <style>
        table, tr, th, td {
            border: solid;
            border-collapse: collapse;
            padding: 5px;
        }
        </style>
        <tr>
            <th>Id</th>
            <th>Klub</th>
            <th>Początek</th>
            <th>Początek</th>
            <th>Koniec</th>
            <th>Koniec</th>
            <th>Trener</th>
        </tr>
        {% for reservation in reservations %}

        <tr>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.club }}</td>
            <td>{{ reservation.start_date }}</td>
            <td>{{ reservation.start_time}}</td>
            <td>{{ reservation.finish_date }}</td>
            <td>{{ reservation.finish_time }}</td>
            <td>{{ reservation.coach }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}