{% extends 'base.html' %}

{% load static %}

{% block title %}
    System rezerwacji kortów
{% endblock %}

{% block container %}

<section data-bs-version="5.1" class="header10 cid-tvPSwc6Ksn mbr-fullscreen mbr-parallax-background" id="header10-s">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(187, 187, 187);"></div>
    <div class="align-center container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9">
                {% block content %}
                <div class="container mt-4 mb-4">
                    <div class="row text-center">
                        <div class="col-md-3">
  <div class="counter">
    <div class="icon-circle">
      <img src="{% static 'images/klub.png' %}" alt="klub" />
      <div class="number">{{ number_of_clubs }}</div>
    </div>
    <p class="count-text">LICZBA NASZYCH KLUBÓW</p>
  </div>
</div>
                        <div class="col-md-3">
                            <div class="counter">
                                <div class="icon-circle">
                                    <img src="{% static 'images/korty.png' %}" alt="kort" />
                                    <div class="number">{{ number_of_courts }}</div>
                                </div>
                                <p class="count-text">LICZBA KORTÓW</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="counter">
                                <div class="icon-circle">
                                    <img src="{% static 'images/rezerwacje.png' %}" alt="rezerwacje" />
                                    <div class="number">{{ number_of_reservations }}</div>
                                </div>
                                <p class="count-text">DOKONANYCH REZERWACJI</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="counter">
                                <div class="icon-circle">
                                    <img src="{% static 'images/uzytkownicy.png' %}" alt="uzytkownicy" />
                                    <div class="number">{{ number_of_users }}</div>
                                </div>
                                <p class="count-text">LICZBA UŻYTKOWNIKÓW</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
