{% extends 'base.html' %}
{% load static %}

{% block title %}
    System rezerwacji kortów
{% endblock %}

{% block container %}
    <section data-bs-version="5.1" class="header10 cid-tvPSwc6Ksn mbr-fullscreen mbr-parallax-background"
             id="header10-s">
        <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(187, 187, 187);"></div>
        <div class="align-center container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-9">
                    {% block content %}
                        <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>...</strong>
                        </h1>
{#                        <p class="mbr-text mbr-fonts-style display-7">#}
{#                            Intro with a picture at the bottom. Great for pro-coders for fast prototyping and small#}
{#                            customers'#}
{#                            projects.</p>#}
{#                        <div class="mbr-section-btn mt-3"><a class="btn btn-secondary display-4"#}
{#                                                             href="https://mobiri.se">Create#}
{#                            Free Website!</a></div>#}
{#                        <div class="image-wrap mt-4">#}
{#                            <img src="{% static 'assets/images/app4.jpg' %}" alt="Mobirise Website Builder" title="">#}
{#                        </div>#}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}



