{% extends 'base.html' %}


{% block title %}
    Szczegóły
{% endblock %}

{% block container %}

    <table>
        <style>
            table, tr, th, td {
                border: solid;
                border-collapse: collapse;
                padding: 5px;
            }
        </style>
        <tr>
            <th> Nazwa </th>
            <th> Typ </th>
            <th> Preferencje </th>
        </tr>
        {% for court in club.court_set.all %}

            <tr>
                <td>{{ court.name }}</td>
                <td>{{ court.get_type_display }}</td>
                <td>{{ court.get_preference_display }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}