{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Szczegóły
{% endblock %}

{% block container %}

    <table class="table table-light table-striped">
        <style>
            table, tr, th, td {
                border: solid;
                border-collapse: collapse;
                padding: 5px;
            }
        </style>
        <tr>
            <th> Nazwa </th>
            <th> Rodzaj nawierzchni </th>
            <th> Wewnętrzny/Zewnętrzny </th>
            <th> Cena </th>
            {% if user.is_club %}
                <th>Edycja</th>
                <th>Usuń</th>
            {% endif %}
        </tr>

        {% for court in club.court_set.all %}
            <tr>
                <td>{{ court.name }}</td>
                <td>{{ court.get_type_display }}</td>
                <td>{{ court.get_preference_display }}</td>
                <td>{{ court.cost }}</td>
                {% if user.is_club %}
                    <td>
                        <a href="{% url 'club:courtEdit' pk=court.id %}" class="btn btn-success">Edytuj</a>
                    </td>
                    <td>
                        <a href="{% url 'club:courtDelete' pk=court.id %}" class="btn btn-success">Usuń</a>
                    </td>

                {% endif %}
            </tr>

        {% endfor %}
    </table>

{% endblock %}