{% extends 'home/home.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Szczegóły
{% endblock %}

{% block content %}
    <div class="mt-5"></div>
    <table class="table table-custom table-striped">
        <style>
            .table-custom {
        background-color: #e0e0e0;
    }
            table, tr, th, td {
                border: solid;
                border-collapse: collapse;
                padding: 5px;
            }
        </style>
        <tr>
            <th> Nazwa </th>
            <th> Rodzaj nawierzchni </th>
            <th> Wewnętrzny/Zewnętrzny </th>
            <th> Cena </th>
        </tr>

        {% for court in club.court_set.all %}
            <tr>
                <td>{{ court.name }}</td>
                <td>{{ court.get_type_display }}</td>
                <td>{{ court.get_preference_display }}</td>
                <td>{{ court.cost }}</td>

            </tr>

        {% endfor %}
    </table>

{% endblock %}