
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Wszystkie kluby
{% endblock %}

{% block container %}

    <table class="table table-light table-striped">
        <style>
        table, tr, th, td {
            border: solid;
            border-collapse: collapse;
            padding: 5px;
        }
        </style>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Lokalizacja</th>
            <th>Multisport</th>
            {% if user.is_club %}
                <th>Edycja</th>
                <th>Usuń</th>
                <th>Szczegóły</th>
            {% endif %}
        </tr>
        {% for club in clubs %}

        <tr>
            <td>{{ club.id }}</td>
            <td>{{ club.name }}</td>
            <td>{{ club.location }}</td>
            <td>{{ club.get_multisport_display }}</td>
            {% if user.is_club %}
            <td>
                <a href="{% url 'club:clubEdit' pk=club.id %}" class="btn btn-success">Edytuj</a>
            </td>
            <td>
                <a href="{% url 'club:clubDelete' pk=club.id %}" class="btn btn-success">Usuń</a>
            </td>
            <td>
                <a href="{% url 'club:clubDetails' pk=club.id %}" class="btn btn-success">Szczegóły</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

{% endblock %}