{% extends 'home/home.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Wszystkie kluby
{% endblock %}

{% block content %}
<div class="mt-5"></div>
    <table class="table table-custom table-striped">
        <style>
            .table-custom {
        background-color: #e0e0e0;
    }
        table, tr, th, td {
            border: solid;
            border-collapse: collapse;
            padding: 5px;
            text-align: center;
            vertical-align: middle;
        }
        </style>

        <tr>
            <th>Nazwa</th>
            <th>Lokalizacja</th>
            <th>Multisport</th>
            <th>Korty</th>
        </tr>
        {% for club in clubs %}
        <tr>
            <td>{{ club.name }}</td>
            <td>{{ club.location }}</td>
            <td>{{ club.get_multisport_display }}</td>
            <td>
                <a href="{% url 'club:clubDetails' pk=club.id %}" class="btn btn-secondary">Korty</a>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
