
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Trenerzy
{% endblock %}

{% block container %}

    <table class="table table-light table-striped">
        <style>
        table, tr, th, td {
            border: solid;
            border-collapse: collapse;
            padding: 5px;
        }
        </style>
        <tr>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Cena</th>
            <th>Klub</th>
            {% if user.is_club %}
                <th>Edycja</th>
                <th>Usuń</th>
            {% endif %}
        </tr>
        {% for c in coach %}

        <tr>
            <td>{{ c.name }}</td>
            <td>{{ c.surname }}</td>
            <td>{{ c.price }}</td>
            <td>{{ c.club }}</td>
        {% if user.is_club %}
            <td>
                <a href="{% url 'club:coachEdit' pk=c.id %}" class="btn btn-success">Edytuj</a>
            </td>
            <td>
                <a href="{% url 'club:coachDelete' pk=c.id %}" class="btn btn-success">Usuń</a>
            </td>
        {% endif %}
        </tr>
        {% endfor %}
    </table>

{% endblock %}