
{% extends 'base.html' %}


{% block title %}
    Wszystkie kluby
{% endblock %}

{% block container %}

    <table>
        <style>
        table, tr, th, td {
            border: solid;
            border-collapse: collapse;
            padding: 5px;
        }
        </style>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Lokalizacja</th>
            <th>Multisport</th>
            <th>Edycja</th>
            <th>Usuń</th>
            <th>Szczegóły</th>
        </tr>
        {% for club in clubs %}

        <tr>
            <td>{{ club.id }}</td>
            <td>{{ club.name }}</td>
            <td>{{ club.location }}</td>
            <td>{{ club.get_multisport_display }}</td>
            <td>
                <a href="{% url 'club:ClubEdit' pk=club.id %}" class="btn btn-info">Edytuj</a>
            </td>
            <td>
                <a href="{% url 'club:ClubDelete' pk=club.id %}" class="btn btn-info">Usuń</a>
            </td>
            <td>
                <a href="{% url 'club:ClubDetails' pk=club.id %}" class="btn btn-info">Szczegóły</a>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}